{{template "header"}}

<h1>APPLY</h1>

<nav>
  <ul>
    <li><a href="/index">INDEX</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/fun">FUN</a></li>

  </ul>

</nav>

<form action="/apply" method="post">
  <input type="text" name="firstname" id="fname">
  <input type="submit">
</form>

{{template "footer"}}
