{{template "header"}}

<h1>APPLY</h1>
{{template "nav"}}

<form action="/apply" method="post">
  <input type="text" name="firstname" id="fname">
  <input type="submit">
</form>

{{template "footer"}}
